@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Baloo Thambi 2';
  overflow: hidden; }

.main {
  border: 1px solid #000; }

.main {
  min-width: 30rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  position: relative;
  background: transparent;
  backdrop-filter: blur(20px); }

@keyframes rotar {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .main::before {
    content: '';
    position: absolute;
    top: -200%;
    left: -200%;
    width: 500%;
    height: 500%;
    background: linear-gradient(65deg, #082032, #F0A500, #082032);
    z-index: -2;
    animation: rotar 5s linear infinite; }
  .main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    inset: 4px;
    background: #fff;
    z-index: -1;
    filter: blur(25px); }
  .main .header {
    padding: 1rem; }
    .main .header h1 {
      text-align: center;
      position: relative; }
  .main .inputList {
    display: flex;
    justify-content: space-evenly; }
    .main .inputList .inputItem {
      border: unset;
      height: 2rem;
      font-size: 1.2rem;
      border-bottom: 1px solid #F0A500; }
      .main .inputList .inputItem.inputItem:focus {
        outline: none; }
    .main .inputList .btnAdd {
      padding: .5rem 1rem;
      background: #000000;
      border: unset;
      color: #F0A500;
      letter-spacing: 1px;
      transition: .4s; }
      .main .inputList .btnAdd:hover {
        background: #082032;
        color: #fff; }
  .main .ul {
    padding: 1rem;
    flex-grow: 1; }
    .main .ul .li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2rem;
      list-style: none;
      padding: 1.2rem .8rem;
      margin: .5rem 0;
      font-size: 1.2rem; }
      .main .ul .li span {
        width: 100%;
        margin-right: 1rem; }
      .main .ul .li.li:nth-child(odd) {
        background: linear-gradient(to right, transparent, #F0A500); }
        .main .ul .li.li:nth-child(odd) span {
          background: linear-gradient(to right, #000, transparent);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
        .main .ul .li.li:nth-child(odd) .fa-trash-can:hover {
          color: #fff; }
      .main .ul .li.li:nth-child(even) {
        background: linear-gradient(to right, #082032, transparent); }
        .main .ul .li.li:nth-child(even) span {
          background: linear-gradient(to right, #F0A500, transparent);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
        .main .ul .li.li:nth-child(even) .fa-trash-can {
          color: #F0A500; }
          .main .ul .li.li:nth-child(even) .fa-trash-can:hover {
            color: #082032; }
      .main .ul .li .fa-trash-can {
        font-size: 1.5rem;
        cursor: pointer;
        transition: .4s; }
  .main .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem; }
    .main .footer .btnFoot {
      padding: .5rem 1rem;
      background: #000000;
      border: unset;
      color: #F0A500;
      letter-spacing: 1px;
      transition: .4s; }
      .main .footer .btnFoot:hover {
        background: #082032;
        color: #fff; }
